.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.flex-item {
    max-width: 80%;
}

.auto-ul {
    list-style-type: none;
}

.auto-ul .auto-li {
    padding: 3px;
}
.auto-li:nth-of-type(1n+9) {
    display: none;
}

@media screen and (max-width: 480px) {
    .auto-li:nth-of-type(1n+4) {
        display: none;
    }
    #box {
        width: 100%;
    }
}
.suggest-box {
    border: 2px solid #7fb1e4;
    text-align: left;
    text-overflow: ellipsis;
    width: 28em;
}
.result-ul {
  list-style-type: circle;
  background: #f2f2f2;
  border-radius: 5px;
  padding-top: 5px;
}

.result-ul span {
  margin-top: 20px;
  padding-left: 30px;
}
.result-ul .result-li {
  margin: 20px;
  padding: 5px;
}

input[type=text] {
  width: 100%;
  padding: 12px 68px;
  margin: 10px 0 0 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.search {
    width: 35em;
}